/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

$primary-color: #AF96EB;   
$secondary-color: #FF5722; 
$card-color: #B274B5;
$fotter-color-text: #ffd700; 
$fotter-color-secondary: #bbb; 
$fotter-color-third: #333; 
$text-color: white; 


/* BODY */

body {
    background-color: $card-color;
    color: $text-color;   
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 22px;
}

h1{
    font-size: 110px;
}

h2{
    font-size: 45px;
}

.navbar-toggler-icon {
    background-color: $text-color; 
  }

/* INDEX */

.Main-title{
    padding: 200px;
    font-weight: bold;
    text-align: center;
}

.Main-index{
    padding: 300px;
    font-weight: bold;
    text-align: center;
    background-image: url(../images/spa5.jpg);
    background-size: cover;
}

.review{
    background-color: $primary-color;
}


/* FOOTER */

.footer {
    background-color: $fotter-color-third;
    color: $text-color;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-section h2 {
    color: $fotter-color-text;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
    font-size: 0.9em;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: $fotter-color-secondary;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: $fotter-color-text;
}

.footer .socials a {
    color: $fotter-color-text;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2em;
}

.footer .socials a:hover {
    color: $text-color;
}

.footer-bottom {
    background-color: #222;
    color: $fotter-color-secondary;
    padding: 10px;
    font-size: 0.8em;
}


/*STAFFF PAGE*/

body {
    font-family: Arial, sans-serif;
  }
  
  .card {
    border: none;
    background-color: $primary-color;
  }
  
  .card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding-top: 15px;
  }
  
  .card-title {
    font-size: 1.2em;
    color: $text-color; 
  }
  
  .card-subtitle {
    color: $text-color; 
  }